html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: url("space.jpg") no-repeat center;
    background-size: cover;
    border: 3px solid silver;
}

h1 {
    opacity: 1.5;
    color: white;
    text-shadow: 1px 2px 3px;
    
}

#link {
    height: 125px;
    margin: auto auto 30px auto;
    background: silver;
    color: white;
    text-align: center;
   
}



#link ul li {
    display: inline;
    right: 200px;
    position: relative;
    bottom: 125px;
    left: 450px;
    font-size:30px;
}

#aboutme {
    background-color: silver;
    position: relative;
    top: 500px;
    width: 150px;
    margin: 0 auto;
    height: 120px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px 4px;
    transition: transform 2s;
}

#aboutme:hover {
    transform: rotate(90deg);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FF1493;
}

h1:hover {
    color:#FF1493;
}

#js {
    position: relative;
    bottom: 50px;
    right: 450px;
}

#jquery {
    position: relative;
    bottom: 50px;
    right: 400px;
}

#html {
    position: relative;
    bottom: 50px;
    right: 375px;
}

#form {
    background-color: lightgrey;
    color: black;
    width: 200px;
    height: 200px;
    position:relative;
     box-shadow: 1px 2px 3px 4px white;
    border-radius: 10px;
    font-weight: bold;
    left: 200px;
    bottom:100px;
}
#form:hover{
    background:silver;
}

iframe {
    margin: 0 auto;
    position:relative;
    bottom: 350px;
     left:500px;
    
    border: 1px solid silver;
    box-shadow: 1px 2px 3px 4px silver;
}

#insta{
    position:relative;
    bottom: 120px;
    left: 425px;
}

#twitter{
    position:relative;
    bottom:120px;
    left: 450px;
}

article{
    background-color: grey;
    height: 100px;
    width: 250px;
    position: relative;
    left: 1200px;
    bottom: 690px;
    box-shadow: 1px 2px 3px 4px;
}
article div {
    background-color:black;
    box-shadow: 1px 2px 3px 4px;
}

article div p {
    font-size:18px;
    color:grey;
    text-shadow: 1px 2px 3px;
}
b{
    color:red;
}