body {
    background-image:url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    background-color: silver;
     border: 2px solid;
    height: 200px;
    margin: auto; 
    width: 300px;
    
    
}
div {
    border: lightblue solid;
    ;
}

#main{
    font-style:italic;
    text-align:center;
    
}

#lol {
    background-color: white;
  box-shadow: 5px 2px 5px #FFFF99;
  margin: 15px 0px 0px 20%;
}

#text {
    margin: 10px 0px 0px 20%;
}
table td {
    font-size: 80px; 
    font-style:oblique;
    font-weight: bold;
    color: black;
}
    table {
 margin-left:auto;
 margin-right:auto;
 font-size: 32px;
 font-style: oblique;
 font-family: sans-serif;
}
textarea{
    font-size: 18px;
    resize:none;
    background-color: grey;
}

#button1{
    margin-left: 125px;
}

